# Ignore files should not be tracked by Git

# Ignore database files
data/

# Ignore AI assistant guides
guide/

# Ignore MacOS system files
.DS_Store

# Ignore Python cache and virtual environment files
__pycache__/
*.py[cod]
.pytest_cache/
.venv/

# Ignore uv lock
uv.lock